{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ menu }}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Menu <span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/clientes-listado/">Clientes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/productos-listado/">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/facturas/">Facturas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Administrador</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid text-right">
    <div class="row">
        <div class="col-8 offset-2">
            <a class="btn btn-success my-3" href="{% url 'registrar_producto' %}">Registrar Producto</a>
    <h1>Registros de {{ modulo }}</h1>
    <table class="table table-hover table-bordered">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>¿Iva?</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for l in listado %}
            <tr>
                <td>
                    {{ l.pk }}
                </td>
                <td>
                    {{ l.descripcion }}
                </td>
                <td>
                    {{ l.precio }}
                </td>
                <td>
                    {{ l.stock }}
                </td>
                <td>
                    {% if l.iva == True %}
                        <a class="badge badge-success" style="color: #ffffff; font-size: 15px">Sí</a>
                    {% else %}
                        <a class="badge badge-danger" style="color: #ffffff; font-size: 15px">No</a>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <l1><a class="btn btn-primary" href="{% url 'editar_producto' l.id %}">Modifcar</a></l1>
                        <l1><a class="btn btn-danger" href="{% url 'eliminar_producto' l.id %}">Eliminar</a></l1>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>

</div>
</body>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>